 /* <!-- logo nombre y barra -->



 /* <!-- carrusel con 3 playeras y balon --> */

.carousel-img {
    height: 400px;      
    object-fit: contain;
} 

.carousel-indicators button {
    width: 30px;
    height: 4px;
}

.carousel-caption {
    color: white;
}

.carousel-container {
    width: 600px;      /* tamaño del marco */
    margin: auto;         /* centra */
    padding: 15px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
} 

/* <!-- foto de reloj de lado izquierdo -->*/



/* <!-- los tres layout de las playeras -->*/




 /*<!-- carusel de refencias -->


 

 <!-- contacto y pie de pagina -->
 */
