 /* <!-- logo nombre y barra --> */
.navbar {
    background-color: #008000;
}

.navbar-brand{
    color: #ffffff;
}
 /* <!-- carrusel con 3 playeras y balon -->



 <!-- foto de reloj de lado izquierdo -->



 <!-- los tres layout de las playeras -->




 <!-- carusel de refencias -->


 

 <!-- contacto y pie de pagina -->
 */
