 /* <!-- logo nombre y barra --> */
.navbar {
    background-color: #008000;
}

.navbar-brand{
    color: #ffffff;
}
 /* <!-- carrusel con 3 playeras y balon -->



 <!-- foto de reloj de lado izquierdo -->
 /* <!-- logo nombre y barra -->
/*<!-- logo nombre y barra -->*/



 /*<!-- carrusel con 3 playeras y balon -->*/
   @media (min-width: 992px) {
    .justify-text {
      text-align: justify;
      text-justify: inter-word;
    }
  }


 /*<!-- foto de reloj de lado izquierdo -->*/

#pelota{
  width:120px;
  display:block;
  margin:auto;
  transform:scale(0.1);
}

 /* <!-- carrusel con 3 playeras y balon --> */

.carousel-img {
    height: 400px;      
    object-fit: contain;
} 

.carousel-indicators button {
    width: 30px;
    height: 4px;
}

.carousel-caption {
    color: white;
}

.carousel-container {
    max-width: 600px;      
    margin: auto;         
    padding: 15px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
} 

/* <!-- foto de reloj de lado izquierdo -->*/
.card-img{
  max-height: 200px;
  object-fit: contain;
}
.product-card {
  height: 100%;
  border: 2px solid #0f7a3d; /* verde */
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
  transition: all .3s ease;
}

.product-card:hover {
  transform: translateY(-25px) scale(1.11);
  box-shadow: 0 12px 30px rgba(0,0,0,.25);
}

/* <!-- los tres layout de las playeras -->*/
 /*<!-- los tres layout de las playeras -->*/

 .titulo h2{
    text-align: center;
    font-size: 40px;
    
 }

  .titulo p{
    text-align: center;
    font-size: 30px;
    
 }

 .product-info {
  text-align: center;
}

 .product-img {
  max-height: 400px;
  object-fit: contain;
}



 /*<!-- carusel de refencias -->
 /*<!-- carusel de refencias -->*/


 

 /*<!-- contacto y pie de pagina -->*/
div.container-fluid {
    width: 100%;
    display:flex;
    background-color: #008000;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-align: center;

}

div.linea {
    display: flex;
    background-color: white;
    color: #008000;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}

.form-container button {
    padding: 3px 5px;
    background-color: #004d00;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}

.redes svg {
    width: 24px;
    height: 24px;
    fill:white;
}